<div id="title-container">
  <pre class="title-art">

 ███████     ███████     ███████   ██████████ 
/██////██   ██/////██   ██/////██ /////██///  
/██   /██  ██     //██ ██     //██    /██     
/███████  /██      /██/██      /██    /██     
/██///██  /██      /██/██      /██    /██     
/██  //██ //██     ██ //██     ██     /██     
/██   //██ //███████   //███████      /██     
//     //   ///////     ///////       //      

      ██       ██████    ██████  ████████  ████████  ████████ 
     ████     ██////██  ██////██/██/////  ██//////  ██//////  
    ██//██   ██    //  ██    // /██      /██       /██        
   ██  //██ /██       /██       /███████ /█████████/█████████ 
  ██████████/██       /██       /██////  ////////██////////██ 
 /██//////██//██    ██//██    ██/██             /██       /██ 
 /██     /██ //██████  //██████ /████████ ████████  ████████  
 //      //   //////    //////  //////// ////////  ////////   
  </pre>
  <p class="version">{{ langSvc.getString('ui.title_screen_version') }} {{ version }}</p>
  <p class="prompt-text">{{ langSvc.getString('ui.title_screen_prompt') }}</p>
</div>